In [13]:
# Import MySQL Connector/Python 

!pip install mysql-connector-python

# Import the MySQL Connector/Python
import mysql.connector as connector

# Establish connection between Python and MySQL database via connector API
connection=connector.connect(
                             user="root", # use your own
                             password="", # use your own
                            )
print("Connection between MySQL and Python is established.\n")

# Create cursor object to communicate with entire MySQL database
cursor = connection.cursor()

connection=connector.connect(
                             user="root", # use your own
                             password="", # use your own
                            )

Requirement already satisfied: mysql-connector-python in /home/coder/.local/lib/python3.8/site-packages (8.0.33)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in /home/coder/.local/lib/python3.8/site-packages (from mysql-connector-python) (3.20.3)
Connection between MySQL and Python is established.

In [14]:
# Create cursor object to communicate with entire MySQL database
cursor = connection.cursor()
print("Cursor is created to communicate with the MySQL using Python.")

Cursor is created to communicate with the MySQL using Python.

In [15]:
try:
    cursor.execute("CREATE DATABASE little_lemon_db")
except:
    cursor.execute("DROP DATABASE little_lemon_db")
    cursor.execute("CREATE DATABASE little_lemon_db")
print("The database 'little_lemon_db' is created.\n")    

# Set little_lemon database for use 
cursor.execute("USE little_lemon_db")
print("The database little_lemon is set for use.")

The database 'little_lemon_db' is created.

The database little_lemon is set for use.

In [16]:
# The SQL query for creating and inserting values into MenuItems table is below 
create_menuitem_table="""
CREATE TABLE MenuItems (
ItemID INT AUTO_INCREMENT,
Name VARCHAR(200),
Type VARCHAR(100),
Price INT,
PRIMARY KEY (ItemID)
);"""

# Create MenuItems table
cursor.execute(create_menuitem_table)
print("MenuItems table is created.\n")

#*******************************************************#
# Insert query to populate "MenuItems" table: 
#*******************************************************#
insert_menuitems="""
INSERT INTO MenuItems (ItemID, Name, Type, Price)
VALUES
(1,'Olives','Starters',5),
(2,'Flatbread','Starters', 5),
(3, 'Minestrone', 'Starters', 8),
(4, 'Tomato bread','Starters', 8),
(5, 'Falafel', 'Starters', 7),
(6, 'Hummus', 'Starters', 5),
(7, 'Greek salad', 'Main Courses', 15),
(8, 'Bean soup', 'Main Courses', 12),
(9, 'Pizza', 'Main Courses', 15),
(10,'Greek yoghurt','Desserts', 7),
(11, 'Ice cream', 'Desserts', 6),
(12, 'Cheesecake', 'Desserts', 4),
(13, 'Athens White wine', 'Drinks', 25),
(14, 'Corfu Red Wine', 'Drinks', 30),
(15, 'Turkish Coffee', 'Drinks', 10),
(16, 'Turkish Coffee', 'Drinks', 10),
(17, 'Kabasa', 'Main Courses', 17);"""

print("Inserting data in MenuItems table.")
# Populate MenuItems table
cursor.execute(insert_menuitems)
print("Total number of rows in MenuItem table: {}\n".format(cursor.rowcount))
# Once the query is executed,  commit the change to the database 
connection.commit()

MenuItems table is created.

Inserting data in MenuItems table.
Total number of rows in MenuItem table: 17

In [17]:
# The SQL query for creating and inserting values into the Menus table is below:
create_menu_table="""
CREATE TABLE Menus (
MenuID INT,
ItemID INT,
Cuisine VARCHAR(100),
PRIMARY KEY (MenuID, ItemID)
);"""

# Create Menus table
cursor.execute(create_menu_table)
print("Menu table is created.\n")


#*******************************************************#
# Insert query to populate "Menus" table: 
#*******************************************************#
insert_menus="""
INSERT INTO Menus (MenuID, ItemID, Cuisine)
VALUES
(1, 1, 'Greek'),
(1, 7, 'Greek'),
(1, 10, 'Greek'),
(1, 13, 'Greek'),
(2, 3, 'Italian'),
(2, 9, 'Italian'),
(2, 12, 'Italian'),
(2, 15, 'Italian'),
(3, 5, 'Turkish'),
(3, 17, 'Turkish'),
(3, 11, 'Turkish'),
(3, 16, 'Turkish');"""

print("Inserting data in Menus table.")
# Populate Menus table
cursor.execute(insert_menus)
print("Total number of rows in Menu table: {}\n".format(cursor.rowcount))
connection.commit()

Menu table is created.

Inserting data in Menus table.
Total number of rows in Menu table: 12

In [18]:
# SQL query for Bookings table::
create_booking_table="""
CREATE TABLE Bookings (
BookingID INT AUTO_INCREMENT,
TableNo INT,
GuestFirstName VARCHAR(100) NOT NULL,
GuestLastName VARCHAR(100) NOT NULL,
BookingSlot TIME NOT NULL,
EmployeeID INT,
PRIMARY KEY (BookingID)
);"""

# Create Bookings table
cursor.execute(create_booking_table)
print("Bookings table is created.\n")

#*******************************************************#
# Insert query to populate "Bookings" table: 
#*******************************************************#
insert_bookings="""
INSERT INTO Bookings (BookingID, TableNo, GuestFirstName, 
GuestLastName, BookingSlot, EmployeeID)
VALUES
(1,12,'Anna','Iversen','19:00:00',1),
(2, 12, 'Joakim', 'Iversen', '19:00:00', 1),
(3, 19, 'Vanessa', 'McCarthy', '15:00:00', 3),
(4, 15, 'Marcos', 'Romero', '17:30:00', 4),
(5, 5, 'Hiroki', 'Yamane', '18:30:00', 2),
(6, 8, 'Diana', 'Pinto', '20:00:00', 5);"""

print("Inserting data in Bookings table.")
# Populate Bookings table
cursor.execute(insert_bookings)
print("Total number of rows in Bookings table: {}\n".format(cursor.rowcount))
connection.commit()

Bookings table is created.

Inserting data in Bookings table.
Total number of rows in Bookings table: 6

In [19]:
#  SQL query for Orders table: 
create_orders_table="""
CREATE TABLE Orders (
OrderID INT,
TableNo INT,
MenuID INT,
BookingID INT,
BillAmount INT,
Quantity INT,
PRIMARY KEY (OrderID,TableNo)
);"""

# Create Orders table
cursor.execute(create_orders_table)
print("Orders table is created.\n")

#*******************************************************#
# Insert query to populate "Orders" table is:
#*******************************************************#
insert_orders="""
INSERT INTO Orders (OrderID, TableNo, MenuID, BookingID, Quantity, BillAmount)
VALUES
(1, 12, 1, 1, 2, 86),
(2, 19, 2, 2, 1, 37),
(3, 15, 2, 3, 1, 37),
(4, 5, 3, 4, 1, 40),
(5, 8, 1, 5, 1, 43);"""

print("Inserting data in Orders table.")
# Populate Orders table
cursor.execute(insert_orders)
print("Total number of rows in Orders table: {}\n".format(cursor.rowcount))
connection.commit()

Orders table is created.

Inserting data in Orders table.
Total number of rows in Orders table: 5

In [20]:
#  SQL query for  Employees table: 
create_employees_table="""
CREATE TABLE Employees (
EmployeeID INT AUTO_INCREMENT,
Name VARCHAR(200),
Role VARCHAR(100),
Address VARCHAR(200),
Contact_Number INT,
Email VARCHAR(100),
Annual_Salary VARCHAR(100),
PRIMARY KEY (EmployeeID)
);"""

# Create Employees table
cursor.execute(create_employees_table)

#*******************************************************#
# Insert query to populate "Employees" table: 
#*******************************************************#
insert_employees="""
INSERT INTO Employees (EmployeeID, Name, Role, Address, Contact_Number, Email, Annual_Salary)
VALUES
(01,'Mario Gollini','Manager','724, Parsley Lane, Old Town, Chicago, IL',351258074,'Mario.g@littlelemon.com','$70,000'),
(02,'Adrian Gollini','Assistant Manager','334, Dill Square, Lincoln Park, Chicago, IL',351474048,'Adrian.g@littlelemon.com','$65,000'),
(03,'Giorgos Dioudis','Head Chef','879 Sage Street, West Loop, Chicago, IL',351970582,'Giorgos.d@littlelemon.com','$50,000'),
(04,'Fatma Kaya','Assistant Chef','132  Bay Lane, Chicago, IL',351963569,'Fatma.k@littlelemon.com','$45,000'),
(05,'Elena Salvai','Head Waiter','989 Thyme Square, EdgeWater, Chicago, IL',351074198,'Elena.s@littlelemon.com','$40,000'),
(06,'John Millar','Receptionist','245 Dill Square, Lincoln Park, Chicago, IL',351584508,'John.m@littlelemon.com','$35,000');"""


print("Inserting data in the Employees table.")
# Populate Employees table
cursor.execute(insert_employees)
print("Total number of rows in the Employees table: ", cursor.rowcount)
# Once the query is executed, you can commit the change to the database 
connection.commit()

Inserting data in the Employees table.
Total number of rows in the Employees table:  6

In [24]:
dbconfig={"database":"little_lemon_db", "user":"root", "password":""}

In [25]:
from mysql.connector.pooling import MySQLConnectionPool
from mysql.connector import Error

dbconfig = {
    "database":"little_lemon_db",
    "user" : "root",
    "password" : ""
}

try:
    pool = MySQLConnectionPool(pool_name = "pool_a",pool_size = 2,**dbconfig)
    print("The connection pool is created with a name: ",pool.pool_name)
    print("The pool size is:",pool.pool_size)

except Error as er:
    print("Error code:", er.errno)
    print("Error message:", er.msg)

The connection pool is created with a name:  pool_a
The pool size is: 2

In [26]:
# Get the connection from the connection pool "pool"
print("Getting a connection from the pool.")
connection1 = pool.get_connection()
print("'connection1' object is created with a connection from the pool")

Getting a connection from the pool.
'connection1' object is created with a connection from the pool

In [27]:
cursor=connection1.cursor()

In [28]:
#till here we have created the tables and inserted the data. Connected the database through python sql connector
#  and created a cursor object nad connection 1and pool of size 2

In [ ]:
#task 2 would be to create and call a stored procedure called peak hours

Step 2:

Implement a stored procedure called PeakHours.

Write a SQL CREATE PROCEDURE query for PeakHours:

Use HOUR to extract the hour data from the BookingSlot.

Use COUNT on the hour part of the BookingSlot data to count the number of bookings. 

Use GROUP BY on the booking hour.

Use ORDER BY to retrieve the number of bookings in descending order.

Run the stored procedure query by invoking the execute module on the cursor.

Invoke callproc to call the stored procedure.

Fetch the results in a variable called dataset.

Extract the names of the columns.

Print the names of the columns.

Print the sorted data using a for loop.

In [29]:
connection = pool.get_connection()
cursor=connection.cursor()

cursor.execute("DROP PROCEDURE IF EXISTS PeakHours;")
stored_procedure_query="""
CREATE PROCEDURE PeakHours()

BEGIN

SELECT 
HOUR(BookingSlot) AS Booking_Hour,
COUNT(HOUR(BookingSlot)) AS n_Bookings
FROM Bookings
GROUP BY Booking_Hour
ORDER BY n_Bookings DESC;

END

"""

# Execute the query 
cursor.execute(stored_procedure_query)
# Call the stored procedure with its name
cursor.callproc("PeakHours")

# Retrieve records in "dataset"
results = next(cursor.stored_results() )
dataset = results.fetchall()

# Retrieve column names using list comprehension in a for loop 
for column_id in cursor.stored_results():
    columns = [column[0] for column in column_id.description]

# Print column names:
print(columns)

# Print data 
for data in dataset:
    print(data)

['Booking_Hour', 'n_Bookings']
(19, 2)
(15, 1)
(17, 1)
(18, 1)
(20, 1)

Implement a stored procedure called GuestStatus.

Write a SQL CREATE PROCEDURE query for GuestStatus.

Combine the first and last name of each guest from the booking column using a CONCAT function.

Use the CASE function to implement the following order statuses for each guest:

If the Role in the Employee table is Manager or Assistant Manager then the status is Ready to pay.

If the Role in the Employee table is Head Chef then the status is Ready to serve.

If the Role in the Employee table is Assistant Chef then the status is Preparing order.

If the Role in the Employee table is Head Waiter then the status is Order served.

Perform a LEFT JOIN on the Bookings table with the Employees table ON EmployeeID.

Run the stored procedure query by invoking the execute module on the cursor object.

Invoke callproc to call the stored procedure.

Fetch the results in a variable called dataset.

Extract the names of the columns.

Print the names of the columns.

Print the sorted data using a for loop.

Close the connection to return it to the pool.

In [30]:
stored_procedure_query="""
CREATE PROCEDURE GuestStatus()

BEGIN
SELECT 

Bookings.BookingID AS OrderNumber,  
CONCAT(GuestFirstName,' ',GuestLastName) AS GuestName, 

Role AS Employee, 

CASE 
WHEN Role IN ('Manager','Assistant Manager') THEN "Ready to Pay"
WHEN Role = 'Head Chef' THEN "Ready to serve"
WHEN Role = 'Assistant Chef' THEN "Preparing order"
WHEN Role = 'Head Waiter' THEN "Order served"

ELSE "Pending"
END AS Status

FROM Bookings 
LEFT JOIN 
Employees 
ON Employees.EmployeeID=Bookings.EmployeeID;


END
"""


# Execute the query
cursor.execute(stored_procedure_query)

#********************************************#

# Call the stored procedure with its name
cursor.callproc("GuestStatus")

# Retrieve records in "dataset"
results = next(cursor.stored_results())
dataset = results.fetchall()

# Retrieve column names using list comprehension in a for loop 
for column_id in cursor.stored_results():
    columns = [column[0] for column in column_id.description]

# Print column names
print(columns)

# Print data 
for data in dataset:
    print(data)
    
connection1.close()

['OrderNumber', 'GuestName', 'Employee', 'Status']
(1, 'Anna Iversen', 'Manager', 'Ready to Pay')
(2, 'Joakim Iversen', 'Manager', 'Ready to Pay')
(3, 'Vanessa McCarthy', 'Head Chef', 'Ready to serve')
(4, 'Marcos Romero', 'Assistant Chef', 'Preparing order')
(5, 'Hiroki Yamane', 'Assistant Manager', 'Ready to Pay')
(6, 'Diana Pinto', 'Head Waiter', 'Order served')

In [33]:
#NOW EXERCISE 3  STEP 4, CREATING A CONNECTION POOL B
# Import MySQLConnectionPool class
from mysql.connector.pooling import MySQLConnectionPool

# Import Error class
from mysql.connector import Error

# Define database configurations
dbconfig = {
    "database":"little_lemon_db",
    "user" : "root",
    "password" : ""
}

# Create a pool named "pool_b" with two connections.
# try-except block
try:
    pool = MySQLConnectionPool(pool_name = "pool_b",pool_size = 2,**dbconfig)
    print("The connection pool is created with the name: ",pool.pool_name)
    print("The pool size is:",pool.pool_size)

except Error as er:
    print("Error code:", er.errno)
    print("Error message:", er.msg)

The connection pool is created with the name:  pool_b
The pool size is: 2

In [37]:
#task 2 since there are two guests and third one is in need of connection through add connection
#connect the first guest
connection1 = pool.get_connection()
cursor1=connection1.cursor()
booking1="""INSERT INTO Bookings 
(TableNo, GuestFirstName, GuestLastName, BookingSlot, EmployeeID)
VALUES
(8,'Anees','Java','18:00:00',6);"""
cursor1.execute(booking1)
connection1.commit()
print("""A new booking is added in the "Bookings" table.""")

# Connect the second guest .
connection2 = pool.get_connection()
cursor2=connection2.cursor()
booking2="""INSERT INTO Bookings 
(TableNo, GuestFirstName, GuestLastName, BookingSlot, EmployeeID)
VALUES
(5, 'Bald','Vin','19:00:00',6);"""
cursor2.execute(booking2)
connection2.commit()
print("""A new booking is added in the "Bookings" table.""")

# Adding a new connection to connect the third user.
import mysql.connector as connector
try:
    connection3 = pool.get_connection()
    print("The guest is connected")
except:
    print("Adding new connection in the pool.")
        
    # Create a connection
    connection=connector.connect(user="root",password="")
    # Add the connection into the pool
    pool.add_connection(cnx=connection)
    print("A new connection is added in the pool.\n")
        
    connection3 = pool.get_connection()
    print("'connection3' is added in the pool.")
    
# Connect the third guest 
cursor3=connection3.cursor()
booking3="""INSERT INTO Bookings 
(TableNo, GuestFirstName, GuestLastName, BookingSlot, EmployeeID)
VALUES
(12, 'Jay','Kon','19:30:00',6);"""
cursor3.execute(booking3)
connection3.commit()
print("""A new booking is added in the "Bookings" table.""")

# You can only return two connections back to the pool as the pool_size=2.
#  Close all  connections and use try-except to print the pool error if the pool is already full.

PoolError: Failed getting connection; pool exhausted